@model IEnumerable<Clinica.Models.Paciente>

<div class="panel panel-primary ">
    <a href="/prep/signin" class="btn btn-sm btn-primary">Sign In</a>
    <a href="/prep/signout" class="btn btn-sm btn-primary">Sign Out</a>
    User: @(HttpContext.Current.User.Identity.Name)
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Pacientes</div>
    <table class="table table-striped">
        <tr><th>ID</th><th>Nombre</th><th>Categoria</th><th>Edad</th></tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Nombre</td>
                <td>@p.Categoria</td>
                <td>@p.Edad</td>
            </tr>
        }
    </table>
</div>

@using (Html.BeginForm("SavePaciente", "Prep"))
{
    <input type="hidden" name="Nombre" value="Bryan Perez Guillen" />
    <input type="hidden" name="Categoria" value="Medicina General" />
    <input type="hidden" name="Descripcion" value="Paciente deportista" />
    <input type="hidden" name="Edad" value="34" />

    <button class="btn btn-primary" type="submit">Create</button>
    <a href="/prep/DeletePaciente/2" class="btn btn-primary">Delete</a>
}
